*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: calc(1em + 0.5rem);
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Cereal-Lt";
  font-weight: 600;
  background: #fff;
  color: #111;
}
